<% provide(:title, "Sign Up") %>

<h1>Sign Up</h1>
<ul>Steps to create this:
  <li>generate controller with new action</li>
  <li>modify routes so /signup goes to User#new</li>
  <li>modify new view as wanted </li>
  <li>then change link from home page to point to signup_path</li>
</ul>
